@media(max-width:400px){
    #div{
        display: flex;
       
    }
    #bg{
        width:100%;
        display: flex;
        flex-direction: column;
       justify-content: center;
    }
    #link{
        height: 50px;
        padding: 10px;
    }
}